In [1]:
import pandas as pd

In [2]:

df=pd.read_csv('datasets/Gapminder.csv', on_bad_lines='skip', sep =';')

_O parâmetro error_bad_lines está obsoleto desde a versão 1.3.0 da biblioteca, como visto no trecho da documentação a seguir:_



<dt><strong>error_bad_lines</strong><span class="classifier">bool, optional, default <code class="docutils literal notranslate"><span class="pre">None</span></code></span></dt><dd><p>Lines with too many fields (e.g. a csv line with too many commas) will by
default cause an exception to be raised, and no DataFrame will be returned.
If False, then these “bad lines” will be dropped from the DataFrame that is
returned.</p>
<div class="deprecated">
 <p><span class="versionmodified deprecated">Deprecated since version 1.3.0: </span>The <code class="docutils literal notranslate"><span class="pre">on_bad_lines</span></code> parameter should be used instead to specify behavior upon
encountering a bad line instead.</p>
</div>
    
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [3]:
#Visualizando as 5 primeiras linhas

df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
dfr = df.rename(columns={'country':'pais'}) #renomeando colunas

In [5]:
dfr.head(10)

          pais continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [6]:
df.shape #retorna o total de linhas e colunas.

(3312, 6)

In [7]:
df.dtypes #retorna o tipo de dados em cada coluna

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
df.tail() #retorna a visualização das últimas linhas

       country continent  year  lifeExp       pop   gdpPercap
3307  Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308  Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309  Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310  Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [9]:
df.describe() #retorna alguns indicadores estatísticos

#count: contagem
#média
#std (standart deviation): desvio padrão

              year      lifeExp           pop      gdpPercap
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [10]:
df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [11]:
Oceania=df.loc[df['continent']=='Oceania']  #Filtrando linhas

Oceania.head()

    country continent  year  lifeExp     pop    gdpPercap
975    Fiji   Oceania  1962   56.494  421869  2039.393277
976    Fiji   Oceania  1967   58.607  485000  2170.073285
977    Fiji   Oceania  1972   60.642  544000  2797.759484
978    Fiji   Oceania  1977   62.669  599339  3182.569600
979    Fiji   Oceania  1982   64.683  658906  3209.257468

In [12]:
"""
Contando os países de cada continente 
"""
df.groupby('continent')['country'].nunique()

continent
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: country, dtype: int64

In [13]:
"""
Calculando a média de renda para cada ano
"""
df.groupby('year')['gdpPercap'].mean()

year
1950     5788.110310
1951     7166.681214
1952     3800.766586
1953     7285.913057
1954     7559.357116
1955     7906.255157
1956     8146.745638
1957     4358.649181
1958     8329.075477
1959     8637.004923
1960     9311.447138
1961     9657.449230
1962     4771.034659
1963    10302.720880
1964    10880.002666
1965    11009.436198
1966    11407.936949
1967     5640.614937
1968    12095.218086
1969    12717.193129
1970    13193.384595
1971    13653.770833
1972     7612.258069
1973    13910.290788
1974    15255.035599
1975    15174.660729
1976    15647.201655
1977     8410.910865
1978    16385.250063
1979    16882.201717
1980    17198.892959
1981    17323.687800
1982     8553.177670
1983    18293.203295
1984    18935.839670
1985    19371.587500
1986    19941.491785
1987     8799.155313
1988    21020.910260
1989    21583.937476
1990    19945.549401
1991    19894.172876
1992     8960.826471
1993    19541.867254
1994    19962.678837
1995    20389.866909
1996    20857.618679
1997     9769.397157
1998    22261.291074
1999    22965.892403
2000    23866.074105
2001    24237.995166
2002    10657.928831
2003    25046.668079
2004    25949.492592
2005    26509.633333
2006    27249.624396
2007    12403.126861
Name: gdpPercap, dtype: float64